@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

header {
    margin-top: 0;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
}

.g {
    color: #FF42A5;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-right {
    margin-right: 280px;
    align-items: center;
    font-weight: 500;
}

.nav-left {
    display: flex;
    margin-left: 280px;
    /* margin-top: 45px;
    margin-bottom: 45px; */
    align-items: center;
}

.nav-img {
    width: 5.3rem;
    height: 2.5rem;
    flex-shrink: 0;
    margin-right: 1.25rem;
}

nav>ul {
    display: flex;
    color: #3C354F;
}

nav li {
    margin-right: 30px;
    list-style: none;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
}

.follow {
    display: flex;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 20px;
}

.you {
    /* margin-left: 24px; */
    margin-right: 16px;
}

.banner-head {
    font-size: 3rem;
    font-weight: 600;
}

.goat {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 5.9rem;
}

.banner-p {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}

.banner-btn {
    display: flex;
    gap: 24px;
}

.sign {
    color: #FFF;
    font-weight: 600;
    font-size: 1.25rem;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.sign:hover {
    cursor: pointer;
}

.rogue:hover {
    cursor: pointer;
}

.rogue {
    color: #FFF;
    font-weight: 600;
    font-size: 1.25rem;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
}

.banner-left {
    width: 620px;
    height: 680px;
    flex-shrink: 0;
    flex-shrink: 0;
    padding-left: 280px;
    padding-top: 148px;
    padding-right: 0;
    background-image: url('../images/Group 14.png');
}

.banner {
    display: flex;
    justify-content: space-between;
}

.banner-right img {
    width: 600px;
    height: 780px;
    margin-right: 280px;
    padding-top: 50px;
}

.online-head {
    font-weight: 700;
    font-size: 3rem;
    color: #0B0223;
    margin-top: 120px;
    margin-bottom: 16px;
}

.online-p {
    font-size: 1.1rem;
    color: #534C64;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 48px;
}

.online {
    text-align: center;
}

.online-card {
    display: flex;
    gap: 24px;
    margin-left: 240px;
    margin-right: 240px;
}

.online-card .card {
    width: 342px;
    height: 400px;
    flex-shrink: 0;
    margin-bottom: 120px;
}

.watch-container {
    position: relative;
}

.watch-overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.watch:hover {
    filter: brightness(30%);
    cursor: pointer;
}

.watch-container:hover .watch-overlay {
    opacity: 1;
    position: absolute;
    top: 150px;
    left: 120px;
    cursor: pointer;
}

.watch-container:hover .watch {
    filter: brightness(30%);
}

.watch-t {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: 1.25rem;
}

.card-p {
    color: #534C64;
    font-weight: 500;
    font-size: 1.25rem;
}

.funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.instant {
    display: flex;
    /* align-items: center; */
    margin-right: 265px;
    /* justify-items: space-between; */
    margin-top: 120px;
}

.instant-head {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    text-align: right;
    margin-left: 439px;
}

.play {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.instant-p {
    font-size: 1.1rem;
    color: #534C64;
    font-weight: 400;
    margin-left: 427px;
    text-align: right;
}

.instant-left {
    text-align: center;
    margin-top: 150px;
}

.instant-right {
    margin-left: 200px;
}

.angela {
    position: relative;
    bottom: 260px;
    right: 150px;
}

.horse {
    /* margin-right: 100px; */
}

.category {
    width: 1890px;
    height: 550px;
    flex-shrink: 0;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.cat-container {
    display: flex;
    width: 243px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    padding: 10px;
    align-items: center;
    margin-top: 120px;
    margin-left: 239px;

}

.cat-container:hover {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.category {
    display: grid;
    grid-template-columns: repeat(5, 300px);
}

.category img {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 16px;
}

.cat-head {
    font-size: 1.25rem;
    font-weight: 600;
    color: #0B0223;
}

.cat-head:hover {
    font-size: 1.25rem;
    font-weight: 600;
    color: #0B0223;
}

.box-6,
.box-7,
.box-8,
.box-9 {
    margin-left: 335px;
    margin-top: 27px;
}

footer {
    width: 1890px;
    height: 636px;
    flex-shrink: 0;
    background: #0B0223;
}

.foot-title {
    color: #FFF;
    font-size: 2.8rem;
    font-weight: 700;
}

.foot {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
}

.foot-story {
    display: flex;
    gap: 60px;
    justify-content: center;
    /* margin-top: 73px; */
}

.foot-name {
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 66px;
}

.foot-name:hover {
    cursor: pointer;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.icons img:hover {
    cursor: pointer;
}

.foot-terms {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 60px;
}

.foot-terms .terms:hover {
    cursor: pointer;
}

.terms {
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
}

.copyr8 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


@media screen and (max-width: 576px) {

    nav,
    nav>ul {
        flex-direction: column;
        box-shadow: none;
        max-width: 425px;
    }

    nav .nav-right {
        align-items: center;
        margin-left: 500px;
        gap: 50px;
    }

    .banner-right,
    footer,
    .category {
        max-width: 425px;
    }

    footer {
        height: 800px;
    }

    .banner-left {
        padding: 20px;
        /* max-width: 100%; */
    }

    .banner {
        flex-direction: column-reverse;
    }

    .instant-head,
    .instant-p {
        /* max-width: 425px; */
        /* align-items: center; */
        margin-left: 60px;
        height: 360px;
        text-align: center;
    }

    .online-card,
    .instant {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        max-width: 420px;
    }

    .horse {
        width: 420px;
    }

    .angela {
        height: 300px;
        width: 250px;
    }

    .banner-img {
        width: 420px;
    }

    .instant-left {
        text-align: left;
        width: auto;
        margin-left: 20px;
    }

    .instant-right {
        width: 420px;
        /* height: 600px; */
    }

    .cat-container {
        margin-left: 20px;
    }

    .category {
        width: 100%;
        grid-template-columns: repeat(3, 250px);
    }

    .foot-story {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }

    .foot-terms {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        margin-left: 35px;
    }

    .copyr8 {
        margin-left: 35px;
    }

    .cat-container {
        size: .25rem;
    }

    .box-6,
    .box-7,
    .box-8,
    .box-9 {
        margin-left: 20px;
        margin-top: auto;
    }

    .box-4,
    .box-5,
    .box-6,
    .box-7,
    .box-8,
    .box-9 {
        margin-top: 10px;
    }
}

/* .features img{
        width: 100%;
        margin-left: 0;
    }     */
/* nav > ul{
        flex-direction: column;
    } */
/* .ten-years{
        position: static;
        max-width: 300px;
    }
    .teams-img{
        grid-template-columns: 1fr;
    }
    .teams-content, .facts-container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .facts-container{
        gap: 20px;
    } */


/* @media screen and (min-width: 576px) and (max-width: 992px){
    header{
        padding: 50px;
    }    
    nav, .teams-container, .sponsors-container, .features{
        flex-direction: column;
    }
} */